services:
  - type: web
    name: medicalcare-ai
    runtime: python
    buildCommand: pip install -r requirements.txt && python train.py
    startCommand: gunicorn app:app --bind 0.0.0.0:$PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.4
      - key: SECRET_KEY
        generateValue: true
      - key: GEMINI_API_KEY
        sync: false
